<!DOCTYPE html>
<html ng-app="featanalize" data-framework="typescript">
<head>

	<link href="/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Images/favicon.ico" rel="icon" type="image/x-icon" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="google-site-verification" content="LLdbUIP5P_DagBhtMG6kMvyeX7GZ1R1fjW7oae8pn-M" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/stylePlugins")
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
</body>
</html>
