@using FastEngSite.Models
@model FastEngSite.Models.ThreedModelViewModels


@helper GetImagesHtml(IList<ImageViewModel> images, string noModelMessage)
{
if (images != null && images.Count > 0)
{
		<ul class="pgwSlider">
			@foreach (var image in images)
			{
				<li>
					<img src="@Url.Action("GetImage", "ThreeDModel", new {id = image.ImageId, userId = image.UserId})"
						 alt="@image.Title" id="@string.Format("wows1_{0}", image.ImageId)" />
				</li>
			}
		</ul>
}
else
{
		<div class="alert alert-info"> @noModelMessage </div>
}
}

@{
	ViewBag.Title = "FASTEngineeringAnalysis";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper" class="container">

	<div class="mainheader">
		@Html.Partial("~/Views/ViewAccountMenu.cshtml")

		<div class="searchblock">
			<input type="text" class="searchTerm" placeholder="Search...">
			<button type="submit" class="searchicon" style="border: 0; background: transparent; display: inline-block">
				<img src="images/searchicon.png" width="20" height="20" alt="submit" />
			</button>
		</div>

		<div class="navigation">
			@Html.Partial("~/Views/MenuNavigation.cshtml")
		</div>

	</div>
	<header>

		<link href="~/Scripts/pgwslider/pgwslider.css" rel="stylesheet" />

	</header>


	<div class="firstblock row bottom40 ">
		<div class="col-md-8 top10 col-md-offset-2">
			<body>
				<!-- Start WOWSlider.com BODY section -->
			<div id="wowslider-small" class="wowslider-container">
				
				<div class="row top10">
					<div class="col-md-4">
						<h3>Small models</h3>
					</div>
					<div class="col-md-8 text-right">
						<a class="btn btn-primary">
							<i class="glyphicon glyphicon-download"></i>	Download
						</a>
						<a class="btn btn-primary">
							<i class="glyphicon glyphicon-upload"></i> Upload
						</a>
					</div>
				</div>
				<div class="row top10">
					<div class="col-md-12">
						@GetImagesHtml(Model.SmallImageViewModels, "No small models found")
					</div>
				</div>

			</div>
				<!-- End WOWSlider.com BODY section -->
			</body>
		</div>
	</div>

	<div class="firstblock row bottom40 ">
		<div class="col-md-8 top10 col-md-offset-2">
			<body>
				<!-- Start WOWSlider.com BODY section -->
				<div id="wowslider-medimum" class="wowslider-container">

					@GetImagesHtml(Model.MedimumImageViewModels, "No medimum models found")
				</div>
				<!-- End WOWSlider.com BODY section -->
			</body>
		</div>
	</div>

	<div class="firstblock row bottom40 ">
		<div class="col-md-8 top10 col-md-offset-2">
			<body>
				<!-- Start WOWSlider.com BODY section -->
			<div id="wowslider-large" class="wowslider-container">
				<div class="row">
					<div class="col-md-4">
						<h2>Small models</h2>
					</div>
					<div class="col-md-8 text-right">
						<input class="btn btn-primary" type="file" name="upload" value="Upload"/>
						<a class="btn btn-primary">Download</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						@GetImagesHtml(Model.LargeImageViewModels, "No large models found")
					</div>
				</div>
				
			</div>
				<!-- End WOWSlider.com BODY section -->

			</body>
		</div>
	</div>

	<div class="firstblock row bottom40 ">
		<div class="col-md-8 top10 col-md-offset-2">
			<body>
				<!-- Start WOWSlider.com BODY section -->
				<div id="wowslider-extra-large" class="wowslider-container">

					@GetImagesHtml(Model.ExtraLargeImageViewModels, "No extra large models found")
				</div>
				<!-- End WOWSlider.com BODY section -->
			</body>
		</div>
	</div>
	<div>
	</div>
</div>
<p>


</p>


	<div>

		<p>

		</p>
	</div>

	<div class="mainfooter">

		<div class="navigation2">
			@Html.Partial("~/Views/MenuNavigation.cshtml")
		</div>

		<div class="bottomfooter">
			<div class="footerleft">
				<p>Terms & Conditions</p>
				<br>
				<p>
					Terms and conditions apply to all purchases
					<br>
					for full details please <a href="#">Read Now</a>
				</p>
				<br>
				<br>
				@Html.Partial("~/Views/Copyright.cshtml")
			</div>
			<div class="footerright">
				@Html.Partial("~/Views/SocialLinks.cshtml")
			</div>
		</div>
	</div>


	@Html.Partial("~/Views/CommonPage.cshtml")

	<!--Model Start-->
<div id="myModal" class="modal fade" role="dialog">
	<div class="show-popup modal-content">

		<div data-dismiss="modal" class="close"><i class="glyphicon glyphicon-remove"></i>]</div>
		@using (Html.BeginForm("SaveDonorDetails", "ThreeDModel", null, FormMethod.Post, new { id = "donorPopup" }))
            {
                if (Model.GiftAid == null || Model.GiftAid.isContactEmail == null)
                {
                    Model.GiftAid.isContactEmail = false;
                }
				<div class="col-xs-12 popup-out">
					<h2>How do you want to be contacted</h2>
					<ul id="contactInfo">
						<li><a class="clsContactByEmail clsContactInfo" href="javascript:void(0);"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>EMAIL</a></li>
						<li><a class="clsContactByText clsContactInfo" href="javascript:void(0);"><i class="fa fa-mobile" aria-hidden="true"></i>TEXT</a></li>
						<li><a class="clsContactByPost clsContactInfo" href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i>POST</a></li>
						<li><a class="clsContactByCall clsContactInfo" href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i>CALL</a></li>
					</ul>
					@if (Model.GiftAid != null && (string.IsNullOrWhiteSpace(Model.GiftAid.firstName) || string.IsNullOrWhiteSpace(Model.GiftAid.lastName)))
					{
						<div class="col-xs-12">
							<div class="gift-form04-iner">
								@Html.TextBoxFor(x => x.GiftAid.firstName, new { @class = "monthly-form-field2", @type = "text", @placeholder = "First name", @name = "FirstName", @id = "txtFirstName" })
							</div>
							<div class="gift-form04-iner">
								@Html.TextBoxFor(x => x.GiftAid.lastName, new { @class = "monthly-form-field2", @type = "text", @placeholder = "Last name", @name = "LastName", @id = "txtLastName" })
							</div>
						</div>
					}
					else
					{
						@Html.HiddenFor(x => x.GiftAid.firstName);
						@Html.HiddenFor(x => x.GiftAid.lastName);
					}
					<div class="monthly-form-main divContactByEmail col-xs-12">
						@if (Model.GiftAid == null || Model.GiftAid.isContactEmail == null)
						{
							Model.GiftAid.isContactEmail = false;
						}
						<input type="hidden" name="contactEmail" id="hdnisContactEmail" value="false" />
						@Html.TextBoxFor(x => x.GiftAid.email, new { @class = "monthly-form-field2", @type = "email", @style = "text-transform: none", @placeholder = "Enter your email address", @name = "Email", @id = "txtEmail" })
					</div>
					<div class="monthly-form-main divContactByText col-xs-12">
						@if (Model.GiftAid.isContactSms == null)
						{
							Model.GiftAid.isContactSms = false;
						}
						<input type="hidden" name="contactSms" id="hdnisContactSms" value="false" />
						@Html.TextBoxFor(x => x.GiftAid.mms, new { @class = "monthly-form-field2", @placeholder = "Contact", @name = "MMS", @id = "txtMms" })
					</div>
					<div class="monthly-form-main divContactByPost col-xs-12">
						@if (Model.GiftAid.isContactPost == null)
						{
							Model.GiftAid.isContactPost = false;
						}
						<input type="hidden" name="contactPost" id="hdnisContactPost" value="false" />
						@Html.TextAreaFor(x => x.GiftAid.address, new { @class = "monthly-form-field2", @placeholder = "Address", @name = "Address", @id = "txtAddress" })
					</div>
					<div class="monthly-form-main divContactByCall col-xs-12">
						@if (Model.GiftAid.isContactTelephone == null)
						{
							Model.GiftAid.isContactTelephone = false;
						}
						<input type="hidden" name="contactTelephone" id="hdnisContactTelephone" value="false" />
						@Html.TextBoxFor(x => x.GiftAid.telephone, new { @class = "monthly-form-field2", @placeholder = "Mobile Number", @name = "Telephone", @id = "txtTelephone" })
					</div>

					<h3 style="cursor:pointer" class="clsDoNotContact" data-href="@Url.Action("ProductDetail", "Product", new { id = Model.Item.itemId })">DON'T CONTACT ME   <span>x</span></h3>
					<button type="submit" class="sub-m-btn">SUBMIT</button>
				</div>
            }
	</div>
</div>
<!--Model End-->

@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/plugins")
	<script src="/Scripts/PureJs/jquery.horizontal.scroll.js" type="text/javascript"></script>
	<script src="~/Scripts/pgwslider/pgwslider.js"></script>
	@Scripts.Render("~/js")



	<script>
		$(document).ready(function () {

			var slideshow = $('.pgwSlider').pgwSlider({
				displayList: false,
				transitionEffect: "sliding",
				displayControls: true,
				maxHeight: 400,
				selectionMode: "click"

			});
		});
	</script>
